nav {
  height: 120px;
  background-color: #4056a1;
  color: #ffffff;
  padding: 0 1.5em;
  padding-bottom: 0;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  align-items: flex-end;
  position: fixed;
  top: 0;
}

nav > span {
  font-size: 40px;
  padding-bottom: 0.3em;
}
.nav__new {
  font-family: "Source Sans Pro", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 0.5em;
}

.nav__new > i {
  color: red;
}
.nav__newPara {
  margin: 0;
}

.nav__newPara > span {
  font-weight: bold;
}

@media only screen and (max-width: 1023px) {
  nav {
    height: 80px;
    background-color: rgb(232, 159, 33);
    background-image: url("/images/background_texture.png");
    color: #ffffff;
    padding: 0 1.5em;
    padding-bottom: 0;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: fixed;
    top: 0;
  }
}
